
.discord-shell {
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.25em;
  border: #1c4e9a;
  border-style: solid;
  background-color: aliceblue;
}

.discord-shell-status {
  padding: 20px;
  text-align: center;
}

.guild-pane {
  display: inline-block;
}

img.guild-icon {
  width: 1em;
  height: 1em;
}

.chat-pane {
  border-radius: 0.5em;
  margin: 0.25em;
  padding: 0.25em;
  border: #656e90;
  border-style: solid;
}

.message {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

img.user-avatar {
  width: 1em;
  height: 1em;
}

.message > .user-name {
  width: 12em;
  height: 100%;
  display: inline-block;
}

.message > .content {
  display: inline-block;
}

.message > .content > p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
